# Dependencies
node_modules/


# Environment variables
.env
.env.local

# Vercel deployment artifacts
.vercel

# Database
data/*.db*
data/*.db-shm
data/*.db-wal

# OS & Logs
*.log
.DS_Store
Thumbs.db

.vercel
